.publicacionForm {
    margin-top: 10%;
}

h2 {
    font-weight: 700;
}

p {
    font-size: 14px;
    margin-right: 3%;
    margin-top: 0%;
    color: #666666;
}

ion-select {
    width: 100%;
}

.listForm {
    padding-left: 5%;
    padding-right: 5%;
}
