<ion-content>
    <ion-item lines="none">
        <h3><strong>Inicia sesión</strong></h3>
    </ion-item>
    <ion-item lines="none">
        <ion-label>o <a [routerLink]="['/registro']">Regístrate</a></ion-label>
    </ion-item>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <ion-item lines="none">
            <ion-label position="stacked">Correo electrónico</ion-label>
            <ion-input placeholder="Introduce tu correo electrónico" type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input placeholder="Introduce tu contraseña" type="password" formControlName="contraseña"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block" fill="outline" [disabled]="!formGroup.valid || loading">
            <ion-spinner *ngIf="loading"></ion-spinner>
            <span *ngIf="!loading">Iniciar sesión</span>
        </ion-button>
    </form>
</ion-content>
