<ion-header>
    <ion-toolbar color="light">
        <ion-searchbar [(ngModel)]="terminoBusqueda" (ionChange)="buscarUsuarios()" type="text" placeholder="{{usuarioModel.nombre}} {{usuarioModel.apellidos}}"></ion-searchbar>
        <ion-progress-bar *ngIf="!loaded" type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
    <ion-list *ngIf="true">
        <ion-item *ngFor="let usuarioModel of listaBusquedaUsuarios" [routerLink]="['/home/usuario/', usuarioModel.uid]" detail="false">
            <ion-avatar slot="start">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>
                <h2>{{usuarioModel.nombre}} {{usuarioModel.apellidos}}</h2>
                <p>{{usuarioModel.especialidad}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-header>

<ion-content>
    <ng-container *ngIf="loaded">
        <swiper-container [pagination]="true" *ngIf="loaded">
            <swiper-slide>
                <ion-avatar>
                    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>
                    <h2>{{usuarioModel.nombre}} {{usuarioModel.apellidos}}</h2>
                    <p>{{usuarioModel.especialidad}}</p>
                    <p>{{usuarioModel.colegiado}}</p>
                    <p>Torrevieja, Alicante</p>
                </ion-label>
            </swiper-slide>
            <swiper-slide *ngIf="usuarioModel.descripcion">
                <p class="ion-text-center descripcion">{{usuarioModel.descripcion}}</p>
            </swiper-slide>
        </swiper-container>

        <ion-button expand="block" fill="outline" color="danger" (click)="logout()">
            <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
        <ion-button expand="block">
            <ion-icon name="create-outline"></ion-icon> Configurar perfil
        </ion-button>
    </ng-container>

    <div *ngIf="!loaded" class="loading">
        <ion-spinner></ion-spinner>
    </div>

    <ng-container *ngIf="loaded">
        <ion-card *ngFor="let publicacion of listaPublicaciones" [routerLink]="['/home/publicacion', publicacion.uid]">
            <ion-card-header>
                <ion-card-subtitle>{{publicacion.fechaPublicacion}}</ion-card-subtitle>
                <ion-card-title>{{publicacion.titulo}}</ion-card-title>
                <ion-card-subtitle>{{publicacion.etiqueta}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content [innerHTML]="publicacion.contenido"></ion-card-content>
        </ion-card>
    </ng-container>

    <ng-container *ngIf="!loaded">
        <ion-card *ngFor="let number of [0, 1, 2]">
            <ion-card-header>
                <ion-card-subtitle>
                    <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
                </ion-card-subtitle>
                <ion-card-title>
                    <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
                </ion-card-title>
                <ion-card-subtitle>
                    <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
                </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-skeleton-text [animated]="true" style="width: 90%;"></ion-skeleton-text>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ion-content>