.nuevaContrasenyaHeader {
    margin-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
}

.nuevaContrasenyaForm {
    padding-left: 10%;
    padding-right: 10%;
}

.buttonNuevaContrasenyaForm {
    margin-top: 10%;
}

h1 {
    font-size: 30px;
    text-overflow: clip;
    height: max-content;
}
