<ion-content>
    <ion-button fill="clear" color="dark">
        <ion-icon name="arrow-back"></ion-icon>
    </ion-button>

    <ion-list *ngIf="loaded">
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>
                <h3><strong>{{usuarioModel.nombre}} {{usuarioModel.apellidos}}</strong></h3>
                <p>Enfermera</p>
                <p>{{publicacionModel.fechaPublicacion}}</p>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <h3><strong>{{publicacionModel.titulo}}</strong></h3>
        </ion-item>
        <ion-item lines="none">
            <p>{{publicacionModel.contenido}}</p>
        </ion-item>

        <ion-item lines="none">
            <label><strong>Comentarios</strong></label>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="!loaded">
        <ion-item lines="none">
            <ion-avatar slot="start">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <h3>
                    <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text [animated]="true" style="width: 40%;"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>

        <ion-item lines="none">
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </ion-item>
        <ion-item lines="none">
            <ion-skeleton-text [animated]="true" style="width: 90%;"></ion-skeleton-text>
        </ion-item>
    </ion-list>


</ion-content>
