ion-button {
    margin-top: 10%;
}

h3 {
    font-size: 17px;
    margin-right: 3%;
}

h2 {
    font-weight: 700;
}

p {
    font-size: 14px;
    margin-right: 3%;
    // text-align: justify;
    color: #666666;
}
