.registroHeader {
    margin-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
}

.registroForm {
    padding-left: 10%;
    padding-right: 10%;
}

.buttonRegistroForm {
    margin-top: 10%;
}

h1 {
    font-size: 30px;
}