<ion-header>
    <ion-toolbar color="light">
        <ion-searchbar type="text" placeholder="Búsqueda"></ion-searchbar>
        <ion-progress-bar *ngIf="!loaded" type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="loaded">
        <ion-card *ngFor="let publicacion of listaPublicaciones" [routerLink]="['/home/publicacion', publicacion.uid]">
            <ion-card-header>
                <ion-card-subtitle>{{publicacion.fechaPublicacion}}</ion-card-subtitle>
                <ion-card-title>{{publicacion.titulo}}</ion-card-title>
                <ion-card-subtitle>{{publicacion.etiqueta}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content [innerHTML]="publicacion.contenido"></ion-card-content>
        </ion-card>
    </ng-container>

    <ng-container *ngIf="!loaded">
        <ion-card *ngFor="let number of [0, 1, 2, 3, 4, 5]">
            <ion-card-header>
                <ion-card-subtitle>
                    <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
                </ion-card-subtitle>
                <ion-card-title>
                    <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
                </ion-card-title>
                <ion-card-subtitle>
                    <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
                </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-skeleton-text [animated]="true" style="width: 90%;"></ion-skeleton-text>
            </ion-card-content>
        </ion-card>
    </ng-container>

</ion-content>